@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Pangolin&family=Rubik+Puddles&family=Ubuntu:wght@600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-family: "Quicksand", sans-serif;
  /* background-color:rgb(255, 251, 246); */
  background-color: #e8e8e8;
  /* background-image: url(../Images/bg2.jpg); */
  /* background-size: 100%; */
  /* background-repeat: no-repeat; */
  /* background-position-y: 15%;
  background-position-x: 100%; */
}

@media screen and (max-width: 1366px) and (max-height:768px) {
  body {
    zoom: 80%;
  }

  .form-popup {
    zoom: 105%;
  }
}

@media screen and (max-width: 1440px) and (max-height:900px) {
  body {
    zoom: 80%;
  }

  .form-popup {
    zoom: 105%;
  }
}
.topnav {
  overflow:hidden;
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  text-align: center;
}

.topnav a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bolder;
}

/* .topnav a:hover {
  background-color: #ddd;
  color: black;
} */

.topnav a.active {
  background-color: #3399FF;
  color: white;
}

.topnav .icon {
  display: none;
}
#reg-btn {
  padding: 8px 12px;
  border-radius: 5px;
  border: 0;
  background-color: #3399FF;
  font-weight: bolder;
  color: white;
  font-family: "Quicksand", sans-serif;
  cursor: pointer;
}

#username:focus {
  outline: 0;
}

#username:valid {
  border-color: green;
}

#username:invalid {
  border-color: red;
}

#password:focus {
  outline: 0;
}

#password:valid {
  border-color: green;
}

#password:invalid {
  border-color: red;
}

.form-popup {
  display: none;
  position: fixed;
  text-align: center;
  z-index: 9;
  /* padding-top: 10%; */
  padding: 6% 35% 10% 35%;
  /* max-width: ; */
  /* backdrop-filter: blur(20px); */
}

.form-container {
  background-color: #ffffff;
  /* box-shadow: 2px 2px 10px 10px rgb(240, 240, 240); */
  padding: 10%;
  padding-top: 5%;
  max-width: 500px;
  border-radius: 5px;
}

.form-container h1 {
  color: #3399FF;
  padding: 0px 0px 50px 0px;
}

.closebtn {
  position: relative;
  float: right;
  margin-top: -32%;
  color: #000000;
}

.form-container input[type=text],
.form-container input[type=password] {
  padding: 15px;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #005ebb;
  margin: 5px 0px 20px 0px;
  border-radius: 2px;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}

.form-container p a {
  color: #2692ff;
}

.form-container button {
  padding: 15px;
  width: 100%;
  background: linear-gradient(to left, #7e7cff 0%, #3399FF 100%);
  font-family: "Quicksand", sans-serif;
  font-size: medium;
  font-weight: 600;
  color: white;
  border: 0;
  border-radius: 5px;
}

.form-container button:hover {
  transition: ease-in-out background;
  background: #005ebb;
  cursor: pointer;
}

.form-container label {
  float: left;
  font-size: medium;
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.blur-filter {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

.graph-img {
  zoom: 80%;
  float: left;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
    zoom: 150%;
  }

  body {
    zoom: 65%
  }

  .form-popup {
    zoom: 150%;
    padding: 5%;
  }
  .form {
    zoom: 30%;
  }

}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@keyframes textanim {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}
.search-bar {
  /* margin-top: 4.62%; */
  padding: 8px 10px;
  width: 79%;
  background-color: whitesmoke;
  border: 2px solid darkslategrey;
  color: black;
  font-size: medium;
  border-radius: 5px;
}

#search-btn {
  padding: 8px 10px;
  background-color: #3399FF;
  border: 0px solid darkslategrey;
  border-radius: 5px;
  /* width: 5%; */
  color: white;
}
.enquiry {
  background-color: white;
  display: block;
  /* border: 2px solid black; */
  border-top-left-radius: 8px ;
  border-bottom-left-radius: 8px ;
  /* width: 40%; */
  /* zoom: 90%; */
  text-align: center;
  position: absolute;
  top: 20%;
  left: 19%;
  padding: 1% 0% 0.91% 0%;
  box-shadow: -5px 0px 15px 0px gray;
}
.enquiry h2{
  color:#3172ff;
  font-weight: 900;
}
.enquiry input[type=text]{
  width: 35%;
  padding: 2vh 2vh;
  margin: 2vh 0;
  /* display: inline-block; */
  font-family: "Quicksand", sans-serif;
  font-size: medium;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background: #ffffff97;
}
.enquiry input[type=email]{
  width: 70%;
  padding: 2vh 2vh;
  margin: 2vh 0;
  /* display: inline-block; */
  font-family: "Quicksand", sans-serif;
  font-size: medium;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #ffffff97;
}
.txta {
  width: 70%;
  padding: 12px 20px;
  margin: 4px 0;
  /* display: inline-block; */
  font-family: "Quicksand", sans-serif;
  font-size: medium;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #ffffff97;
}
.enquiry button{
  padding: 15px 10px 15px 10px;
  width: 50%;
  border: 0;
  background: linear-gradient(to right, #71c1fa 0%, #3172ff 100%);
  border-radius: 8px;
  margin-top: 10px;
  color: #fff;
  letter-spacing: 1px;
  font-family: "Quicksand", sans-serif;
  font-size: medium;
  font-weight: 600;
}
.enquiry button:hover{
  background: rgb(132, 159, 250);
  border: 0px solid black;
  background: linear-gradient(to right,#3172ff 0%,#71c1fa 100%);
  cursor: pointer;
}
.name-inputs {
  width: 100%;
  display: inline-block; /* Display the inputs in a line */
  margin-right: 10px; /* Add some spacing between them */
}
::placeholder {
  color: black;
  opacity: 1; 
}

::-ms-input-placeholder { /* Edge 12-18 */
  color: black;
}
.contactus{
  /* float: left; */
  /* border: 2px solid black; */
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #2692ff;
  color: white;
  position: absolute;
  top: 20%;
  box-shadow: -5px 0px 15px 0px gray;
  right:18%;
  width: 20%;
  padding: 5%;
  /* zoom: 90%; */
}
.contactus i{
  border: 0px solid black;
  border-radius: 50%;
  background-color:#68aef5;
  font-size:x-large
}
.contactus a{
  /* text-decoration: none; */
  color: white;
}
.contactus #envelope{
  padding: 2% 3% 3% 3%;
}
.contactus #phone{
  padding: 2% 3% 2% 3%;
}
.contactus #location{
  padding: 2% 3.5% 2% 3.5%;
}
.form{
  zoom: 90%;
}
