@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Pangolin&family=Rubik+Puddles&family=Ubuntu:wght@600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Condensed&display=swap');

html {
  scroll-behavior: smooth;
}
*{
    padding:0 ;
}
body{
    background-color: rgb(147, 199, 255);
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    background-image: url("../Images/congratsbg.jpg");
}
@media screen and (max-width: 1366px) and (max-height:768px) {
    body {
      zoom: 80%;
    }
  
  }
  
  @media screen and (max-width: 1440px) and (max-height:900px) {
    body {
      zoom: 80%;
    }

  }
.nav{
    margin: 2;
    display: block;
    padding: 2%;
    background-color: #3f51b5;
}
.nav a {
    text-decoration: none;
    background-color: #3f51b5;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: x-large;
    font-weight: bold;
    transition: background-color 0.3s;
    font-family: 'Poppins', sans-serif;
}
a:hover {
    background-color: #1a237e;
}
.form-body{
    display: grid;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 40px;
    margin: 90px auto;
    max-width: 400px;
    zoom: 110%;
}
.form-body h1{
    text-align: center;
    color: #3f51b5;
}
.form-body p{
    text-align: left;
    font-size: small;
    color: rgb(99, 99, 98);
}
.form-body input[type="text"]{
    padding: 15px;
    /* width: 100%; */
    background-color: #ffffff;
    border: 1px solid #005ebb;
    margin: 5px 0px 20px 0px;
    border-radius: 2px;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
}
.form-body button{
    padding: 15px;
    background: linear-gradient(to left, #7e7cff 0%, #3399FF 100%);
    font-family: "Quicksand", sans-serif;
    font-size: medium;
    font-weight: 600;
    color: white;
    border: 0;
    border-radius: 5px;
    transition: background 0.3s;
}
.form-body button:hover{
    transition: ease-in-out background;
    background: #005ebb;
    cursor: pointer;
}